@model List<SetepassosPRJ.Models.Jogo>
@{
    ViewData["Title"] = "High Score";
}
<div class="container">
    <div class="page-header">
        <h1>High Scores</h1>
        <h3> Descobre aqui se o teu score está nos 10 melhores!</h3>
    </div>
    <table class="table table-bordered table-hover table-condensed" id="HighScore">
        <tr>
            <th> Ranking</th>
            <th> Nome do Jogador</th>
            <th>Pontuação</th>
            <th>Resultado Final</th>
            <th>Chave</th>
            <th>Nrº Inimigos Derrotados</th>
            <th>Nrº Fugas do Inimigo</th>
            <th>Nrº Investigações na área</th>
            <th>Nrº Itens Encontrados</th>
            <th>Nrº Poções Usadas/Totais</th>
        </tr>
        @for (int elemento = 0; elemento < 10; elemento++)
        {
            <tr>
                <td>@elemento+1º</td>
                <td>@Model[elemento].Utilizador</td>
                <td>@Model[elemento].Score</td>
                <td>DUVIDA!</td>
                <td>DUVIDA!</td>
                <td>@Model[elemento].NrInimigosVencidos</td>
                <td>POR FAZER!</td>
                <td>POR FAZER</td>
                <td>@Model[elemento].NrItensEncontrados</td>
                <td>@Model[elemento].NrPocoesUsadas/@Model[elemento].PocoesVida</td>
            </tr>
        }
    </table>
</div>
