@model List<SetepassosPRJ.Models.Jogo>
@{
    ViewData["Title"] = "High Score";
}
<div class="container">
    <div class="page-header">
        <h1>High Scores</h1>
        <h3> Descobre aqui se o teu score está nos 10 melhores!</h3>
    </div>
    <table class="table table-bordered table-hover table-condensed" id="HighScore">
        <tr>
            <th> Ranking</th>
            <th> Nome do Jogador</th>
            <th>Pontuação</th>
            <th>Resultado Final</th>
            <th>Chave</th>
            <th>Nrº Inimigos Derrotados</th>
            <th>Nrº Fugas do Inimigo</th>
            <th>Nrº Investigações na área</th>
            <th>Nrº Itens Encontrados</th>
            <th>Nrº Poções Usadas/Totais</th>
        </tr>
        @foreach (SetepassosPRJ.Models.Jogo jogo in Model)
        {
            <tr>
                <td>@(Model.IndexOf(jogo)+1)º</td>
                <td>@jogo.Utilizador</td>
                <td>@jogo.Score</td>
                <td>
                    @if (jogo.Resultado == RoundResult.SuccessVictory)
                    {
                        @:Vitória
                    }
                    else
                    {
                        @:Derrota
                    }
                </td>
                <td>
                    @if (jogo.PosseChave)
                    {
                        @:Encontrada
                    }
                    else
                    {
                        @:Não encontrada
                    }
                            </td>
                <td>@jogo.NrInimigosVencidos</td>
                <td>@jogo.NrFugasInimigo</td>
                <td>@jogo.NrExaminacoesArea</td>
                <td>@jogo.NrItensEncontrados</td>
                <td>@jogo.NrPocoesUsadas/@jogo.PocoesTotais</td>
            </tr>
        }
    </table>
</div>
