@model SetepassosPRJ.Models.Jogo;
@{
    ViewData["Title"] = "7 Passos";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <h1 class="titulo">7 Passos - Jogo Alternativo com inimigo</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4" id="elementos">
        <strong>Nome do Jogador: </strong>@Model.Utilizador <br />
        <strong>Perfil de herói: </strong>@Model.PerfilHeroi <br />
        <strong>Pontos de vida: </strong>@Model.PontosVida<br />
        <strong>Pontos de ataque: </strong>@Model.PontosAtaque<br />
        <strong>Pontos de sorte: </strong>@Model.PontosSorte<br />
        <strong>Poções de vida: </strong>@Model.PocoesVida<br />
        <strong>Posse de chave: </strong>@if (Model.Chave)
                                        {
                                            @:Chave encontrada!
                                        }
                                        else
                                        {
                                            @:Ainda não encontras-te a chave!
                                        }
        <br />
        <strong>Posição do herói: </strong>@Model.PosicaoHeroi<br />
        <strong>Área de jogo: </strong>Cuidado! O salto alto das anjos de Charlie é ponteagudo!<br />
        <form asp-action="NovoJogo" method="post">
            <div>
                <label asp-for="Controlo">Ações: </label> <br />
                <select asp-for="Controlo">
                    <option value="AtacarInimigo">Atacar o inimigo</option>
                    <option value="Fugir">Fugir, evitando o combate</option>
                    <option value="BeberPocaoVida">Beber uma poção de vida</option>
                </select> <br />
            </div>
        </form>
        <strong>Contexto: </strong>Por enquanto ainda tens pontos de vida suficientes, continua assim!
    </div>
    <div class="col-md-8">
        <img src="~/css/Corredor.jpg" alt="Corredor" title="Jogo" />
    </div>
</div>

