@model SetepassosPRJ.Models.Jogo
@{
    ViewData["Title"] = "7 Passos";
}

<h3 class="titulo">7 Passos</h3>
<p>Salva o Quentin!</p>

<div class="row">
    <div class="col-md-12 corredor">
        @if (Model.Inimigo)
        {
            <img src="~/images/minicharlieangels.png" alt="AnjosCharlie" title="Anjos de Charlie" class="inimigo" />
        }
        @if (Model.Perfil == "S")
        {
            <img src="~/images/mediumblackmamba.png" alt="Black Mamba" title="Black Mamba" class="heroi" />
        }
        else if (Model.Perfil == "W")
        {
            <img src="~/images/mediumcottonmouth.png" alt="Cottonmouth" title="Cottonmouth" class="heroi" />
        }
        else
        {
            <img src="~/images/mediumgogoyarubi.png" alt="GogoYurabi" title="Gogo Yurabi" class="heroi" />
        }
    </div>
</div>

<div class="row elementos">
    <div class="col-md-4">
        <strong><u>@Model.Utilizador</u>  -  </strong>
        <strong><u> @Model.Perfil</u> <br /></strong>
        <br />@((Model.PontosVida*100)/5)% <img src="~/images/miniheart.png" alt="PontosVida" title="Pontos de vida" />
        <br />@((Model.PontosAtaque*100)/5)% <img src="~/images/minisword.png" alt="PontosAtaque" title="Pontos de ataque" />
        <br />@((Model.PontosSorte*100)/5)% <img src="~/images/minitrevo.png" alt="PontosSorte" title="Pontos de sorte" />
        <br />@for (int pocoes = 0; pocoes < Model.PocoesVida; pocoes++)
        {
            <img src="~/images/minipotion.png" alt="Pocao" title="Poção de vida" />
        }
    </div>
    <div class="col-md-4">
        @if (Model.Chave)
        {
            <img src="~/images/miniKey.png" alt="Chave" title="Chave!" />
        }
        <br />
        <strong>Moedas de ouro: </strong>@Model.MoedasOuro
        <br />
        <strong>Posição do herói: </strong><strong class="alert-info">@Model.PosicaoHeroi</strong>
        <br />
        Faltam apenas <strong class="alert-info">@Model.DistanciaPorta</strong> passos até ao Quentin!
        <br />
        Efetuaste @Model.NumeroJogadas jogadas!
    </div>
    <div class="col-md-4"> 
        <div>
            <form asp-action="Jogo" method="post">
                <button type="submit" class="btn btn-default" name="playerAction" value="6">Desistir</button> <br />
                @if (Model.Inimigo)
                {
                    <strong class="alert-danger">Cuidado! O salto alto das anjos de Charlie é pontiagudo!</strong> <br />
                    <button type="submit" class="btn btn-danger" name="playerAction" value="4">Atacar o inimigo!</button> <br />
                    if (Model.PosicaoHeroi < 7 || (Model.PosicaoHeroi == 7 && Model.Chave == true))
                    {
                        <button type="submit" class="btn btn-info" name="playerAction" value="5">Fugir!</button> <br />
                    }
                    if (Model.PocoesVida > 0)
                    {
                        <button type="submit" class="btn btn-success" name="playerAction" value="3">Beber um poção de vida</button>
                    }
                }
                else
                {
                    <strong>Não há inimigos nesta área! Escolhe o que fazer:</strong> <br />
                    @if (Model.PosicaoHeroi < 7 || (Model.PosicaoHeroi == 7 && Model.Chave == true))
                    {
                        <button type="submit" class="btn btn-warning" name="playerAction" value="0">Dar um passo em frente!</button> <br />
                    }
                    @if (Model.PosicaoHeroi > 1)
                    {
                        <button type="submit" class="btn btn-warning" name="playerAction" value="1">Dar um passo atrás!</button> <br />
                    }
                    <button type="submit" class="btn btn-info" name="playerAction" value="2">Examinar Área</button> <br />
                    if (Model.PocoesVida > 0)
                    {
                        <button type="submit" class="btn btn-success" name="playerAction" value="3">Beber um poção de vida</button>
                    }
                }
            </form>
        </div>
    </div>
</div>

