@model SetepassosPRJ.Models.Jogo;
@{
    ViewData["Title"] = "7 Passos";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <h1 class="titulo">7 Passos</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="jumbotron text-left" id="elementos">
            <strong>Nome do Jogador: </strong>@Model.Utilizador <br />
            <strong>Perfil de herói: </strong>@Model.PerfilHeroi <br />
            <strong>Pontos de vida: </strong>@Model.PontosVida<br />
            <strong>Pontos de ataque: </strong>@Model.PontosAtaque<br />
            <strong>Pontos de sorte: </strong>@Model.PontosSorte<br />
            <strong>Poções de vida: </strong>@Model.PocoesVida<br />
            <strong>Posse de chave: </strong>@if (Model.Chave)
                                            {
                                                @:Chave encontrada!
                                            }
                                            else
                                            {
                                                @:Ainda não encontras-te a chave!
                                            }
            <br />
            <strong>Posição do herói: </strong>@Model.PosicaoHeroi<br />
            <strong>Área de jogo: </strong>Livre! Não existe nenhum inimigo nesta área!<br />
            <div>
                <strong>Controlos: </strong>
                @if (Model.Inimigo)
                {
                    <button type="submit" class="btn btn-danger">Atacar o inimigo!</button>
                    <button type="submit" class="btn btn-info">Fugir!</button>
                    <button type="submit" class="btn btn-success">Beber um poção de vida</button>
                }
                else
                {
                    <button type="submit" class="btn btn-warning">Dar um passo em frente!</button>
                    <button type="submit" class="btn btn-info">Examinar Área</button>
                    <button type="submit" class="btn btn-success">Beber um poção de vida</button>
                }
            </div>
            <strong>Contexto: </strong>Por enquanto ainda tens pontos de vida suficientes, continua assim!
        </div>
    </div>
    <div class="col-md-4">
        <img src="~/images/Corredor.jpg" alt="Corredor" title="Jogo" />
    </div>
    <div class="col-md-4">
        @if (Model.PerfilHeroi == "BlackMamba")
        {
            <img src="~/images/UmaThurmanMini.png" alt="Black Mamba" title="Black Mamba" />
        }
        else if (Model.PerfilHeroi == "Cottonmouth")
        {
            <img src="~/images/cottonmouth.png" alt="Cottonmouth" title="Cottonmouth" />
        }
        else
        {
            <img src="~/images/copperhead.png" alt="Copperhead" title="Copperhead" />
        }
    </div>
</div>

<a asp-controller="Jogo" asp-action="JogoAlternativoInimigo" class="btn btn-danger">Versão com inimigo!</a>

<a asp-controller="Jogo" asp-action="JogoAlternativoPocao" class="btn btn-success">Versão com poção!</a>

<a asp-controller="Jogo" asp-action="JogoAlternativoChave" class="btn btn-info">Versão com chave encontrada!</a>


<!--<form asp-action="NovoJogo" method="post">
    <div>
        <label asp-for="Controlo">Ações: </label> <br />
        <select asp-for="Controlo">
            <option value="PassoFrente">Dar um passo em frente</option>
            <option value="ExaminarArea">Examinar Area</option>
            <option value="BeberPocaoVida">Beber uma poção de vida</option>
        </select> <br />
    </div>
</form>-->
