@model SetepassosPRJ.Models.Jogo;
@{
    ViewData["Title"] = "JogoAlternativoChave";
}

<h2>JogoAlternativoChave</h2>

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <h1 class="titulo">7 Passos - Jogo Alternativo Chave Encontrada</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4" id="elementos">
        <strong>Nome do Jogador: </strong>@Model.Utilizador <br />
        <strong>Perfil de herói: </strong>@Model.PerfilHeroi <br />
        <strong>Pontos de vida: </strong>@Model.PontosVida<br />
        <strong>Pontos de ataque: </strong>@Model.PontosAtaque<br />
        <strong>Pontos de sorte: </strong>@Model.PontosSorte<br />
        <strong>Poções de vida: </strong>@Model.PocoesVida<br />
        <strong>Posse de chave: </strong>Chave encontrada!<br />
        <strong>Posição do herói: </strong>@Model.PosicaoHeroi<br />
        <strong>Área de jogo: </strong>Parabéns! Encontraste a chave!<br />
        <form asp-action="NovoJogo" method="post">
            <div>
                <label asp-for="Controlo">Ações: </label> <br />
                <select asp-for="Controlo">
                    <option value="PassoFrente">Dar um passo em frente</option>
                    <option value="PassoAtras">Dar um passo atrás</option>
                    <option value="ExaminarArea">Examinar Area</option>
                    <option value="BeberPocaoVida">Beber uma poção de vida</option>
                </select> <br />
            </div>
        </form>
        <strong>Contexto: </strong>Chave Encontrada! Cada vez mais perto de salvar o Quentin!
    </div>
    <div class="col-md-8">
        <img src="~/css/Corredor.jpg" alt="Corredor" title="Jogo" />
    </div>
</div>
