@model SetepassosPRJ.Models.Jogo
@{
    ViewData["Title"] = "7 Passos";
    Layout = "_LayoutJogo";
}
<header class="top neon text-center">Salva o Quentin!</header>
<div class="text-center">
    @if (!Model.Inimigo)
    {
        <strong class="alert-info">Não há inimigos nesta área! Escolhe o que fazer:</strong> <br />
    }
    else
    {
        <strong class="alert-danger">Cuidado! O salto alto das anjos de Charlie é pontiagudo!</strong> <br />
    }
</div>
    <div class="row">
        <div class="col-md-4">
            <div class="utilizador">
            <strong><u>@Model.Utilizador</u>  -  </strong>
            <strong>
                <u>
                    @if (Model.Perfil == "S")
                    {
                        @:Cottonmouth
                    }
                    else if (Model.Perfil == "W")
                    {
                        @:Gogo Yurabi
                    }
                    else
                    {
                        @:Black Mamba
                    }
                </u>
            </strong><br />
            <br />@Model.PontosVida <img src="~/images/miniheart.png" alt="PontosVida" title="Pontos de vida" />
            <br />@for (int sorte = 0; sorte < Model.PontosSorte; sorte++)

            {
                <img src="~/images/minitrevo.png" alt="Sorte" title="Sorte" />
            }
            <br />@for (int ataque = 0; ataque < Model.PontosAtaque; ataque++)
            {
                <img src="~/images/minisword.png" alt="Ataque" title="Ataque" />
            }
            <br />@for (int pocoes = 0; pocoes < Model.PocoesVida; pocoes++)
            {
                <img src="~/images/minipotion.png" alt="Pocao" title="Poção de vida" />
            }
            <br /> @if (Model.Item)
            {
                if (Model.Veneno)
                {
                    @:Veneno Encontrado! <img src="~/images/miniveneno.png" alt="Veneno" title="Veneno" />
                }
                else if (Model.Arma)
                {
                    @:Arma Encontrada! <img src="~/images/miniarma.png" alt="Arma" title="Arma" />
                }
                else if (Model.Amuleto)
                {
                    @:Amuleto Encontrado! <img src="~/images/miniamuleto.png" alt="Amuleto" title="Amuleto" />
                }
                else if (Model.MiniPocao)
                {
                    @: Mini-Poção Encontrada! <img src="~/images/minipocao.png" alt="MiniPocai" title="Mini Poção" />
                }
            }
            </div>
            <div class="inimigos">
                <br />@if (Model.Inimigo)
                {
                    <br />@:Pontos do Inimigo:
                    <br />@: <span class="glyphicon glyphicon-heart"></span>: @Model.PontosVidaInimigo
                    <br />@for (int sorte = 0; sorte < Model.PontosSorteInimigo; sorte++)
                    {
                        <span class="glyphicon glyphicon-leaf"></span>
                    }
                    <br />@for (int ataque = 0; ataque < Model.PontosAtaqueInimigo; ataque++)
                    {
                        <img src="~/images/EnemyDagger.png" alt="Ataque" title="Ataque" />
                    }
                }
            </div>
        </div>
        <div class="col-md-5 personagens">
            @*@if (Model.PontosVidaInimigo != 0)
            {
                <img src="~/images/herospeech.png" class="speech" />
            }*@
            @if (Model.Inimigo)
            {
                <img src="~/images/minicharlieangels.png" alt="AnjosCharlie" title="Anjos de Charlie" class="inimigo" />
            }
            @if (Model.Perfil == "S")
            {
                <img src="~/images/mediumcottonmouth.png" alt="Cottonmouth" title="Cottonmouth" class="heroi" />
            }
            else if (Model.Perfil == "W")
            {
                <img src="~/images/mediumgogoyarubi.png" alt="Gogo Yurabi" title="Gogo Yurabi" class="heroi" />
            }
            else
            {

                <img src="~/images/mediumblackmamba.png" alt="Black Mamba" title="Black Mamba" class="heroi" />
            }
            <div class="collapse img-over" id="boom">
                <img src="~/images/boom.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="itens">
                @if (Model.PosseChave)
                {
                    <img src="~/images/miniKey.png" alt="Chave" title="Chave!" />
                }
                <br />
                <img src="~/images/mediumOuro.png" />: @Model.MoedasOuro
                <br />
                <strong>Posição do herói: </strong><strong>@Model.PosicaoHeroi</strong>
                <br />
                Faltam apenas <strong>@Model.DistanciaPorta</strong> passos até ao Quentin!
                <br />
                Efetuaste @Model.NumeroJogadas jogadas!
            </div>
            <div>
                <form asp-action="Jogo" method="post">
                    <input value="@Model.ID" name="id" hidden />
                    <button type="submit" class="btn btn-default" name="playerAction" value="6">Desistir</button> <br />
                    @if (Model.Inimigo)
                    {
                        <button type="submit" class="btn grad" name="playerAction" value="4" data-toggle="collapse" data-target="#boom">BANG BANG <img src="~/images/minipistol.png" /><img src="~/images/minicowboy.png" /><img src="~/images/minipistolmirror.png" /></button> <br />
                        if (Model.PosicaoHeroi < 7 || (Model.PosicaoHeroi == 7 && Model.PosseChave == true))
                        {
                            <button type="submit" class="btn grad1" name="playerAction" value="5">Fugir! <img src="~/images/minirun.png" /></button> <br />
                        }
                        if (Model.PocoesVida > 0)
                        {
                            <button type="submit" class="btn grad2" name="playerAction" value="3">Beber Poção! <img src="~/images/minipotion.png" /></button>
                        }
                    }
                    else
                    {
                        @if (Model.PosicaoHeroi < 7 || (Model.PosicaoHeroi == 7 && Model.PosseChave == true))
                        {
                            <button type="submit" class="btn grad3" name="playerAction" value="0">Em Frente! <img src="~/images/minifootprintmirror.png" /></button> <br />
                        }
                        @if (Model.PosicaoHeroi > 1)
                        {
                            <button type="submit" class="btn grad" name="playerAction" value="1"><img src="~/images/minifootprint.png" /> Para Trás!</button> <br />
                        }
                        @if (Model.AreaExaminada)
                        {
                            <button type="submit" class="btn grad1" name="playerAction" value="2" disabled>Examinar Área! <img src="~/images/minidetective.png" /></button> <br />
                        }
                        else
                        {
                            <button type="submit" class="btn grad1" name="playerAction" value="2">Examinar Área! <img src="~/images/minidetective.png" /></button> <br />
                        }
                        if (Model.PocoesVida > 0)
                        {<button type="submit" class="btn grad2" name="playerAction" value="3">Beber Poção! <img src="~/images/minipotion.png" /></button>
                        }
                    }
                </form>
            </div>

        </div>
    </div>

