@model SetepassosPRJ.Models.Jogo
@{
    ViewData["Title"] = "7 Passos";
}
<h4 class="neon text-center">Salva o Quentin!</h4>
<div class="jogoCorredor">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6">
        @if (Model.Inimigo)
        {
            <img src="~/images/minicharlieangels.png" alt="AnjosCharlie" title="Anjos de Charlie" class="inimigo" />
        }
        @if (Model.Perfil == "S")
        {
            <img src="~/images/mediumcottonmouth.png" alt="Cottonmouth" title="Cottonmouth" class="heroi" />
        }
        else if (Model.Perfil == "W")
        {
            <img src="~/images/mediumgogoyarubi.png" alt="Gogo Yurabi" title="Gogo Yurabi" class="heroi" />
        }
        else
        {
            <img src="~/images/mediumblackmamba.png" alt="Black Mamba" title="Black Mamba" class="heroi" />
        }
        <div class="collapse img-over" id="boom">
            <img src="~/images/boom.png" />
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-4">
        <strong><u>@Model.Utilizador</u>  -  </strong>
        <strong>
            <u>
                @if (Model.Perfil == "S")
                {
                    @:Cottonmouth
                }
                else if (Model.Perfil == "W")
                {
                    @:Gogo Yurabi
                }
                else
                {
                    @:Black Mamba
                }
            </u>
        </strong><br />
        <br />@Model.PontosVida <img src="~/images/miniheart.png" alt="PontosVida" title="Pontos de vida" />
        <br />@for (int sorte = 0; sorte < Model.PontosSorte; sorte++)

        {
            <img src="~/images/minitrevo.png" alt="Sorte" title="Sorte" />
        }
        <br />@for (int ataque = 0; ataque < Model.PontosAtaque; ataque++)
        {
            <img src="~/images/minisword.png" alt="Ataque" title="Ataque" />
        }
        <br />@for (int pocoes = 0; pocoes < Model.PocoesVida; pocoes++)
        {
            <img src="~/images/minipotion.png" alt="Pocao" title="Poção de vida" />
        }
        <br /> @if (Model.Item)
        {
            if (Model.Veneno)
            {
                @:Veneno Encontrado! <img src="~/images/miniveneno.png" alt="Veneno" title="Veneno" />
            }
            else if (Model.Arma)
            {
                @:Arma Encontrada! <img src="~/images/miniarma.png" alt="Arma" title="Arma" />
            }
            else if (Model.Amuleto)
            {
                @:Amuleto Encontrado! <img src="~/images/miniamuleto.png" alt="Amuleto" title="Amuleto" />
            }
            else if (Model.MiniPocao)
            {
                @: Mini-Poção Encontrada! <img src="~/images/minipocao.png" alt="MiniPocai" title="Mini Poção" />
            }
        }
    </div>
    <div class="col-md-4">
        @if (Model.PosseChave)
        {
            <img src="~/images/miniKey.png" alt="Chave" title="Chave!" />
        }
        <br />
        <strong>Moedas de ouro: </strong>@Model.MoedasOuro
        <br />
        <strong>Posição do herói: </strong><strong class="alert-info">@Model.PosicaoHeroi</strong>
        <br />
        Faltam apenas <strong class="alert-info">@Model.DistanciaPorta</strong> passos até ao Quentin!
        <br />
        Efetuaste @Model.NumeroJogadas jogadas!

        <br />@if (Model.Inimigo)
        {
            <br />@: Pontos de Vida do Inimigo: @Model.PontosVidaInimigo
            <br /> @: Pontos de Sorte do Inimigo: @Model.PontosSorteInimigo
            <br /> @: Pontos de Ataque do Inimigo: @Model.PontosAtaqueInimigo
        }
    </div>
    <div class="col-md-4">
        <div>
            <form asp-action="Jogo" method="post">
                <input value="@Model.ID" name="id" hidden />
                <button type="submit" class="btn btn-default" name="playerAction" value="6">Desistir</button> <br />
                @if (Model.Inimigo)
                {
                    <strong class="alert-danger">Cuidado! O salto alto das anjos de Charlie é pontiagudo!</strong> <br />
                    <button type="submit" class="btn btn-danger" name="playerAction" value="4" data-toggle="collapse" data-target="#boom">Atacar o inimigo!</button> <br />
                    if (Model.PosicaoHeroi < 7 || (Model.PosicaoHeroi == 7 && Model.PosseChave == true))
                    {
                        <button type="submit" class="btn btn-info" name="playerAction" value="5">Fugir!</button> <br />
                    }
                    if (Model.PocoesVida > 0)
                    {
                        <button type="submit" class="btn btn-success" name="playerAction" value="3">Beber um poção de vida</button>
                    }
                }
                else
                {
                    <strong>Não há inimigos nesta área! Escolhe o que fazer:</strong> <br />
                    @if (Model.PosicaoHeroi < 7 || (Model.PosicaoHeroi == 7 && Model.PosseChave == true))
                    {
                        <button type="submit" class="btn btn-warning" name="playerAction" value="0">Dar um passo em frente!</button> <br />
                    }
                    @if (Model.PosicaoHeroi > 1)
                    {
                        <button type="submit" class="btn btn-warning" name="playerAction" value="1">Dar um passo atrás!</button> <br />
                    }
                    @if (Model.Acao == PlayerAction.SearchArea)
                    {
                        <button type="submit" class="btn btn-info" name="playerAction" value="2" disabled>Examinar Área</button> <br />
                    }
                    else
                    {
                        <button type="submit" class="btn btn-info" name="playerAction" value="2">Examinar Área</button> <br />
                    }
                    if (Model.PocoesVida > 0)
                    {
                        <button type="submit" class="btn btn-success" name="playerAction" value="3">Beber um poção de vida</button>
                    }
                }
            </form>
        </div>
    </div>
</div>
</div>