@model SetepassosPRJ.Models.Jogo
@{
    ViewData["Title"] = "Score";
}

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered table-hover table-condensed" id="HighScore">
            <tr>
                <th>ID</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th> Nome do Jogador</th>
                <td>@Model.Utilizador</td>
            </tr>
            <tr>
                <th>Chave</th>
                <td>
                    @if (Model.PosseChave)
                    {
                        @:Encontrada
                    }
                    else
                    {
                        @:Não encontrada
                    }
                </td>
            </tr>
            <tr>
                <th>Nr. Inimigos Derrotados</th>
                <td>@Model.NrInimigosVencidos</td>
            </tr>
            <tr>
                <th>Nr. Fugas do Inimigo</th>
                <td>@Model.NrFugasInimigo</td>
            </tr>
            <tr>
                <th>Nr. Investigações na área</th>
                <td>@Model.NrExaminacoesArea</td>
            </tr>
            <tr>
                <th>Nr. Itens Encontrados</th>
                <td>@Model.NrItensEncontrados</td>
            </tr>
            <tr>
                <th>Nr. Poções Usadas/Totais</th>
                <td>@Model.NrPocoesUsadas/@Model.PocoesTotais</td>
            </tr>
            <tr>
                <th>Nr. de Recuos</th>
                <td>@Model.NrRecuos</td>
            </tr>
            <tr>
                <th>Nr. de Ataques</th>
                <td>@Model.NrAtaques</td>
            </tr>
            <tr>
                <th>Pontos de vida</th>
                <td>@Model.PontosVida</td>
            </tr>
            <tr>
                <th>Moedas de Ouro</th>
                <td>@Model.MoedasOuro</td>
            </tr>
            <tr>
                <th>Resultado Final</th>
                <td>
                    @if (Model.Resultado == RoundResult.SuccessVictory)
                    {
                        @:Vitória
                    }
                    else
                    {
                        @:Derrota
                    }
                </td>
            </tr>
            <tr>
                <th>Score</th>
                <td>@Model.Score</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        @if (Model.PontosVida == 0)
        {
            <img src="~/images/Game Over.gif" />
            <audio controls="controls" autoplay hidden loop>
                <source src="~/music/Nancy-Sinatra-Bang-Bang-My-Baby-Shot-Me-Down.mp3" type="audio/mpeg" />
            </audio>
        }
        else if (Model.Resultado == RoundResult.SuccessVictory)
        {
            <img src="~/images/TarantinoCartoon.png" />
            <audio controls="controls" autoplay hidden loop>
                <source src="~/music/Dick%20Dale%20-%20Misirlou.mp3" type="audio/mpeg" />
            </audio>
        }
        else
        {
            <img src="~/images/chicken.gif" />
            <audio controls="controls" autoplay hidden loop>
                <source src="~/music/The 5 6 7 8 - Woo Hoo ( uhu uhuhu song).mp3" type="audio/mpeg" />
            </audio>
        }
    </div>
</div>

<a asp-action="NovoJogo" class="btn grad">Novo Jogo</a>

<a asp-action="HighScore" class="btn grad2">High Score</a>


