@model SetepassosPRJ.Models.Jogo
@{
    ViewData["Title"] = "Resultados";
}

<h1>Resultados do jogo autónomo - @Model.ID</h1>

<table class="table table-bordered table-hover table-condensed" id="HighScore">
    <tr>
        <th>Nr. da ronda</th>
        <th>Decisão tomada</th>
        <th>Posição</th>
        <th>Inimigos vencidos</th>
        <th>Fugas ao combate</th>
        <th>Itens encontrados</th>
        <th>Chave</th>
        <th>Moedas de Ouro</th>
        <th>Pontos de vida/ataque/sorte</th>
        <th>Poções de vida</th>
        <th>Resultado da Ação</th>
    </tr>
    @foreach (RoundSummary ronda in Model.Rondas)
    {
        <tr>
            <td>@ronda.NrRonda</td>
            <td>@ronda.DecisaoTomada</td>
            <td>@ronda.PosicaoFinalRonda</td>
            <td>@ronda.TotalAcumuladoInimigosVencidos</td>
            <td>@ronda.TotalAcumuladoFugas</td>
            <td>@ronda.TotalAcumuladoItensEncontrado</td>
            <td>@if (ronda.TerChave)
            {
                @:Encontrada!
            }
            else
            {
                @:Não Encontrada!
            }
            </td>
            <td>@ronda.MoedasDeOuro</td>
            <td>@ronda.PontosVidaFinais/@ronda.PontosAtaqueFinais/@ronda.PontosSorteFinais</td>
            <td>@ronda.PocoesVidaFinais</td>
            <td>@ronda.ResultadoAcao</td>
        </tr>
    }
</table>

<button class="collapsible btn grad3" data-toggle="collapse" data-target="#resultados">Resultados globais</button>
<div id="resultados" class="collapse">
    <h1>Resultados Globais</h1>
    <table class="table table-bordered table-hover table-condensed" id="HighScore">
        <tr>
            <th>Rondas jogadas</th>
            <th>Score</th>
            <th>Resultado Final</th>
            <th>Chave</th>
            <th>Nr.Passos</th>
            <th>Investigações da área</th>
            <th>Poções de Vida consumidas</th>
            <th>Ataques</th>
            <th>Fugas do inimigo</th>
            <th>Inimigos derrotados</th>
            <th>Itens encontrados</th>
            <th>% de áreas investigadas</th>
        </tr>
        <tr>
            <td>@Model.NumeroJogadas</td>
            <td>@Model.Score</td>
            <td>
                @if (Model.Resultado == RoundResult.SuccessVictory)
                {
                    @:Vitória!
                }
                else
                {
                    @:Derrota.
                }
        </td>
        <td>
            @if (Model.PosseChave)
            {
                @:Encontrada!
            }
            else
            {
                @:Não Encontrada.
            }
        </td>
        <td>@Model.NrPassos</td>
        <td>@Model.NrExaminacoesArea</td>
        <td>@Model.NrPocoesUsadas</td>
        <td>@Model.NrAtaques</td>
        <td>@Model.NrFugasInimigo</td>
        <td>@Model.NrInimigosVencidos</td>
        <td>@Model.NrItensEncontrados</td>
        <td>@Model.PercentagemInvestigacao%</td>
    </tr>
    </table>
<div>
    <a asp-action="NovoAutoJogo" class="btn grad center-block">Novo Auto-Jogo</a>
</div>
</div>


